# Ignore generated CSVs
restaurants2.csv

# Ignore all CSVs in Data/
Data/*.csv

# Ignore env files
.env

#personal documentation stuff
settingUpDBApi.txt

#database connection with password details
export_data.py